@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
	--selected-red: #C6524A;
	--vivid-red: #E7402D;
	--strong-red: #a52719;
	--bold-orange: #DDA451;
	--soft-unfocused-gray: #D3CCC5;
	--unfocused-gray: #70686a;
}

* {
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

html, body, #root {
	height: 100vh;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -40px;
}

a {
	text-decoration: none;
}

header {
	text-align: center;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	background-color: white;
	display: flex;
	flex-direction: column;
	padding: 20px 0;
	border: 2px var(--soft-unfocused-gray) solid;
}

header nav {
	padding: 30px 0 0 0;
}

header nav ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 400px;
	margin: auto;
}

header nav ul li {
	margin: 5px;
}

header nav ul li .selected,
header nav ul li :hover {
	color: var(--selected-red);
	font-weight: 700;
}

header nav ul li a {
	color: var(--unfocused-gray);
}

#banner {
	background-image: url(../img/jane.jpg);
	width: 100%;
	height: 600px;
	background-size: cover;
	background-position: center 30%;	
}

section article {
	margin: 100px 16vw 0;
}

#about,
#music,
#contact {
	margin-top: 200px;
}

section#about article h2,
section#about article h3,
section#about article p {
	padding: 10px 0;
	text-align: center;
}

section#contact article h2 {
	margin-bottom: 40px;
}

.input-block ,
.selection-block {
	margin-bottom: 18px;
}

.input-block input {
	width: 95%;
	border-style: none;
	font-size: 18px;
	padding: 5px;
	border: 1px solid var(--soft-unfocused-gray);
}

input[type="radio"],
input[type="checkbox"] {
	margin: 0 8px 0 4px;
}

input[type="submit"] {
	background-color: var(--vivid-red);
	color: white;
	font-weight: bold;
	padding: 5px 15px;
	border: 1px solid var(--strong-red);
	cursor: pointer;
}

section#music article ul {
	margin-left: 35px;
}

section#music article ul li {
	margin: 5px 0;
}

#photo {
	max-width: 30%;
	padding: 5px 0 50px;
	min-width: 320px;
	margin: 0 auto;
}

#illustration-and-songs {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

#form-and-map {
	display: flex;
	flex-wrap: wrap;
}

form,
#map {
	width: 50%;
	min-width: 300px;
	margin-bottom: 50px;
}

#map iframe {
	width: 100%;
}

#illustration {
	width: 50%;
	padding-bottom: 50px;
	min-width: 320px;
	margin: auto 0;
}

img {
	width: 100%;
}

#songs {
	padding: 50px;
}

#songs ol li {
	margin-bottom: 20px;
}

#songs ol li a {
	color: var(--bold-orange);
	font-weight: 700;
}

.video {
	margin: 20px 0;
}

iframe {
	width: 640px;
	height: 360px;
}

#technical-details {
	margin-bottom: 100px;
}

#technical-details p {
	margin: 10px 0;
}

#contacts {
	margin-bottom: 20px;
}

#contacts p {
	padding: 10px 0;
}

#contacts h4 {
	padding: 18px 0 10px;
}

#contacts a {
	text-decoration: underline;
}

hr {
	color: var(--soft-unfocused-gray);
}

footer,
.push {
	height: 40px;
}

footer {
	background-color: #F2F2F2;
	display: flex;
	justify-content: center;
	padding: 10px 0;
}

@media (max-width: 800px) {
	section article {
		margin: 100px 10vw 0;
	}

	#illustration img {
		width: 100%;
	}

	iframe {
		width: 240px;
		height: 180px;
	}
}

@media (min-width: 720px) {
	#illustration {
		width: 50%;
		min-width: 0;
	}	
	
	#songs {
		max-width: 50%;
	}
}